block footer

    footer
        div.footer-container       
            p.credits 2023 My Website -
            
            //- Hier deinen Namen eintragen
            p.credits Created with ❤️ by Satisfraction 
